.logIn {
  width: 350px;
  padding: .5rem 1%;
  z-index: 3;
  // margin-top: 300px;
  background-color: white;
  border: 3px black solid;
  border-radius: 30px;
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%)
}

.membrana {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}