.typeOfSubmit  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmLogIn {
  margin-top: 1rem;
  display: flex;
  align-items: end;
}

.submit {
  width: 170px;
  height: 100%;
  padding: .5rem 1rem;
  margin-right: .5rem;
  border-radius: 20px;
  background-color: gray;
  font-size: 24px;
}

.soicalMedia {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 45px);
    column-gap: 2%;
    grid-template-rows: 45px;
  }

  label {
    font-size: 14px;
  }

  button { 
    border: .5px gray solid;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.forgot {
  margin-top: .5rem;
}