.squadCard {
  width: 300px;
  height: 400px;
  margin-top: 1rem;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;

  h3:nth-child(4) {
    font-size: 22px;
    font-weight: 500;
  }

  h3:nth-child(5) {
    font-size: 18px;
    font-weight: 500;
  }

  & > *:not(:nth-child(1)) {
    margin-top: 1rem;
  }
  
  & > .characteristics {
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    
    h3 {
      margin-right: .5rem;
      padding: 1% 2%;
      border-radius: 10px;
      background-color: var(--background-color);
      font-weight: 400;
    }
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-right: 1rem;
  }
}