.lineCard:not(:first-child) {
  margin-top: 10px;
}

.lineCard {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;

  & > .pic_info {
    width: 100;
    display: flex;
  
    img {
      width: 300px;
      height: 100%;
      object-fit: cover;
      margin-right: 1rem;
    }
  
    ul  {
      list-style: none;
  
      li {
        margin-bottom: 2rem;
  
        &:nth-child(1) {
        font-size: 24px;
        font-weight: 600;
        }
  
        &:nth-child(2) {
          font-size: 20px;
          font-weight:5600;
        }
      }
    }
  }
  
  & > .characteristics {
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    
    
    h4 {
      margin-right: .5rem;
      padding: 1% 2%;
      border-radius: 10px;
      background-color: var(--background-color);
      font-weight: 500;
    }
  }
}

.but {
  width: 50px;
  height: 50px;
  background-image: url("../../shared/assets/animate.png");
  background-repeat: no-repeat;
  background-position-x: 50px;
  // background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;

    

    &:before {
      content: "";
      position: absolute;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: black;
      opacity: 0;
      transition: opacity .8s;
    }

    &:hover:before {
      opacity: .1;
    }
    
    &.active {
      animation: sprayOnClickImg .6s steps(5, end) ;
      img {
        animation: sprayOnClickDiv .8s  ease-in-out;
      }
    }

    // &.unActive {
    //   &:after {
    //     content: url("../../../../assets/heart_p_f.svg");
    //     width: 30px;
    //     height: 30px;
    //     position: absolute;
    //     opacity: 0;
    //     animation: hiddenEl 1s linear;
    //   }
    // }

    img { 
      width: 30px;
      height: 30px;
    }
}

@keyframes sprayOnClickImg {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position: -250px;
  }
}
@keyframes sprayOnClickDiv {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);

  }
  100% {
    transform: scale(1);
  }
}
@keyframes hiddenEl {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

