.searchBar {
  width: 100%;
  height: 40px;
  // padding: 1px;
  margin-right: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px 5px 5px 10px;
  display: flex;
  background-color: white;

  select {
    width: 15%;
    margin: 1px 0 1px 1px;
    border: none;
    border-radius: 10px;
    background-color: var(--background-color);
  }

  .inputName {

    width: 100%;
    height: 100%;
    
    input {
      width: 100%;
      height: 100%;
      margin-left: 1rem;
      border: none;
      border-radius: 10px;
      font-weight: 600;
      &:focus {
        outline: none;
      }
    }

    button {
      color: white;
      width: 10%;
      background-color: var(--primary-color);
    }
  }
}

.searchInput {
  width: 100%;
  height: 100%;
  // background-color: var(--primary-color);
  display: flex;
  align-items: center;

  input {
    width: 100%;
    height: 100%;
    margin-left: 1rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;

    
    &:focus {
      outline: none;
    }
  }
}

.resetTypeButton {
  aspect-ratio: 1/1;
  height: 100%;

  img {
    width: 100%;
    height: 100%;  
    opacity: .4;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }
}

.submitButton {
  color: white;
  width: 10%;
  background-color: var(--primary-color);
}