
.App {
  display: flex;
}

.content {
  max-width: 1320px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.productList_line {
  display: flex;
  flex-direction: column;
  
  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.productList_squad {
  display: flex;
  flex-wrap: wrap;
  
  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

#root {
  height: 100%;
}

