.mainFilters {
  width: 100%;
  margin: 1rem 0 2rem 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;

}

.checkBox {
  box-sizing: content-box;
  height: 100%;
  padding: 0 20px;
  padding-bottom: 2px;

  &:hover {
    color: white;
    background-color: var(--primary-color);
    font-weight: 500;
  } 

  input {
    width: 0px;
    height: 0px;
  }

  span {
    font-size: 1.4rem;
    font-size: 400;
    display: inline;

  }
}

.line {
  display: block;
  width: 0px;
  height: 2px;
  margin: 0 20px;
  background-color: var(--primary-color);
}

.filtersOptions {
  display: flex;
  justify-content: space-between;

  button {
    & + button {
      margin-left: 1rem;
    }
    padding: 0 8px;
    background-color: var(--background-color);
    font-size: 1.3rem;
    font-weight: 400;

    &:hover:not(.toggleStatus) {
      color: white;
      background-color: var(--primary-color);
      // измени значение на 600 и проверь
      font-weight: 500;
    }

    img {
      height: 20px;
      width: 20px;
    }
  }
}

