
.filtersOptions {
    display: flex;


    button {
        margin-left: 1rem;
        background-color: var(--background-color);
        font-size: 1.3rem;
        font-weight: 400;
    }
}

.filters1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}