.mainFilters {
  width: 100%;
  height: 40px;
  margin: 1rem 0 2rem 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;

  input {
    width: 0px;
    height: 0px;
  }

  input[name="typeOfSallers"]:checked+label { 
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    font-weight: 400;
    &:hover {
      color: white;
      font-weight: 500;
    }
  }
  
  label {
    width: 150px;
    height: 100%;
    font-size: 1.4rem;
    font-size: 400;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
      background-color: var(--primary-color);
      font-weight: 500;
    } 
  }

  
}

.filtersOptions {
  display: flex;
  justify-content: space-between;
  // column-gap: 5px;

  button {

    & + button {
      margin-left: 1rem;
    }
    padding: 4px 8px;
    background-color: var(--background-color);
    font-size: 1.3rem;
    font-weight: 400;
    &:hover {
      color: white;
      background-color: var(--primary-color);
      // измени значение на 600 и проверь
      font-weight: 500;
    }
  }
}