
.panel_border {
  margin-top: 2rem;
  border-top: 2px solid var(--primary-color);
  background-color: var(--white-color);
} 

.content.buyPanel {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;



  ul {
    font-size: 20px;
    font-weight: 500;


    li {

      &:first-child {
        margin-bottom: 1rem;
      }

      &:last-child {
        margin-top: 1rem;
      }

      &:not(:last-child, :first-child) {
        margin-bottom: .5rem;
      }
      
    }
  }
}