.navigation {
  width: 100%;
  height: auto;
  overflow:auto; 
  padding: 10px 350px 0 350px;
  transition: transform .5s;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 10px;
  }
}

.siteNav {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContent {
  display: flex;
  align-items: center;
}

.language {
  margin-right: 20px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.favourite {
  background-color: var(--primary-color);
}

.navLinks {
  margin-right: 50px;
  display: flex;
}

.topButtons {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-right: 20px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  h2 {
    margin-top: 2px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
}

.catalogNav {
  
  position: relative;
  max-height: 100%;
  overflow-y: hidden;
  z-index: 1;
  transition: transform .5s linear;
  display: flex;
  justify-content: center;
   
  li {
    &:not(:last-child) {
      margin-right: 1rem;
    }
    padding: 4px 6px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}