
.navigation {
    width: 100%;
    height: 100px;
    padding: 0 350px;
    transition: transform .5s;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_hidden {
    transform: scale(1, 0);
}

.navContent {
    display: flex;
    align-items: center;

    // * {
    //   margin-right: 10px;
    // }
}

.language {
    margin-right: 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.favourite {
    background-color: var(--primary-color);
}

.navOption {
    display: flex;
    margin-right: 50px;
}

.topButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:not(:last-child) {
      margin-right: 20px;
    }

    img {
      width: 30px;
      height: 30px;
    }

    h2 {
        margin-top: 5px;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}
