.lineCard:not(:first-child) {
  margin-top: 10px;
}

.lineCard {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;

  & > .pic_info {
    width: 100;
    display: flex;
  
    img {
      width: 300px;
      height: 100%;
      object-fit: cover;
      margin-right: 1rem;
    }
  
    ul  {
      list-style: none;
  
      li {
        margin-bottom: 2rem;
  
        &:nth-child(1) {
        font-size: 24px;
        font-weight: 600;
        }
  
        &:nth-child(2) {
          font-size: 20px;
          font-weight:5600;
        }
      }
    }
  }
  
  & > .characteristics {
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    
    
    h4 {
      margin-right: .5rem;
      padding: 1% 2%;
      border-radius: 10px;
      background-color: var(--background-color);
      font-weight: 500;
    }
  }
}

.but {
  width: 50px;
  height: 50px;
  border: 1px solid black;

  &.active {
    border-color: plum;
  }
}

